.container {
    display: grid;
    gap: 4px;
    padding: 4px;
    border: 1px solid grey;
    background-color: skyblue;
    grid-template-rows: 150px 150px;
    grid-template-columns: 150px 150px;
}

.card {
    display: flex;
    height: 150px;
    width: 150px;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
    font-size: larger;
    background-color: green;
}